* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Regole generali pagina: azzero margini */

.section-centered {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

/* Margini del contenuto */

header #header-inner{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 60px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;


}

/* contenitore principale header */

#contenitore-donna-uomo-bambino{
    height:100%;
    width: 150px;
    background-color: red;

}

#contenitore-logo {
    height:100%;
    width: 150px;
    background-color: red;

}

#contenitore-icone-carrello {
    height:100%;
    width: 150px;
    background-color: red;

}


/* /sezione header */

.cards {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    background-color: green;

}

#contenitore-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;


}
