* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Regole generali pagina: azzero margini */

main{
    padding-bottom: 40px;
}


body{
    padding-top: 60px;
}

header {
    position: fixed;
    left: auto;
    right: auto;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: #FF6900;   
    z-index: 1; 
}

.section-centered {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

/* Margini del contenuto */

header #header-inner{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    height: 60px;
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    
    


}

/* contenitore principale header */

#contenitore-donna-uomo-bambino{
    height:100%;
    width: 150px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#unordered{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    color: white;
    display: flex;
    gap: 5px;
}

/* donna-uomo-bambino */



#contenitore-logo {
    height:100%;
    width: 160px;
    /* background-color: red; */

}

#logo-boolean {
    width: 100%;
    height: 100%;

}

#contenitore-icone-carrello {
    height:100%;
    width: 150px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    
}

#logo-carrello {
    width: 100px;
    height: 40px;
}


/* /sezione header */

.cards {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    background-color: green;
    position: relative;
}

#contenitore-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.img {
    height: 100%;
    width: 100%;

}

.heart {
    position: absolute;
    top: 20px;
    right: 1px;
    background-color: white;

}



/* /sezione main */

#contenitore-footer{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    height: 60px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#contenitore-srl {
    height: 60px;
    width: 80px;
    background-color: red;

}

#contenitore-social {
    height: 60px;
    width: 80px;
    background-color: red;

}
